@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
  color: white;
  /* overscroll-behavior: none; */
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

.link_text {
  @apply cursor-pointer font-normal text-gray-300 transition duration-300 ease-in-out hover:text-white;
}
