@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: Lato, sans-serif;
  background: black;
  color: white;
}

.first_cover {
  background-image: url("./assets/image9.png");
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: top;
}

/* .second_cover {
  background-image: url("./assets/image10.png"), url("./assets/image2.png");
  background-repeat: no-repeat, no-repeat;
  background-position-x: center, left;
  background-position-y: top, bottom;
} */

.third_cover {
  background-image: url("./assets/image8.png"), url("./assets/image11.png");
  background-repeat: no-repeat, no-repeat;
  background-position-x: right, left;
  background-position-y: top, bottom;
}
.first_cover,
.third_cover {
  @apply w-full;
}

@media (max-width: 1024px) {
  .third_cover {
    display: none;
  }
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

.island_link {
  @apply cursor-pointer text-sm font-medium hover:transition-all hover:duration-300 hover:ease-in-out md:text-[15px] md:hover:scale-110;
}

.island_links svg {
  @apply cursor-pointer fill-slate-500 hover:fill-gray-300;
}

.island_link.active {
  @apply text-white;
}

.social_links svg {
  @apply cursor-pointer fill-slate-200 transition-all ease-in-out hover:scale-110 hover:duration-300;
}
